$color_1: #424242;
$color_2: #555555;
$color_3: #252525;


.table-container{
	margin: 50px 100px 0px auto;
	padding: 10px 10px;
	width: 80%;
	height: fit-content;
	overflow: hidden;
	border: 2px $color_3;
	text-decoration: none;
	}